@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
*, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blog-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  margin: 1em;
}

.blog-page .blog-cover {
  text-decoration: none;
}

.blog-page span {
  width: 50%;
  margin: 0 auto;
  height: 1.3px;
  background: #000;
}

.blog-page #bloglist-heading {
  margin-top: 2.5rem;
}

.blog-page h1 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  min-width: 40%;
  max-width: 90%;
  height: auto;
  margin: .5rem auto;
  padding: 1rem;
  font-weight: bolder;
  color: #000;
}

.blog-page .blog-cover {
  text-decoration: none;
  color: #000;
}

.blog-page .blog-cover img {
  width: 95%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 350px;
      grid-template-columns: 350px 350px;
  -ms-grid-rows: 240px;
      grid-template-rows: 240px;
  row-gap: 2em;
  padding: 5px;
  text-align: center;
}

.blog-articles a {
  text-decoration: none;
  color: #000;
}

.blog-articles .user-blog h3 {
  padding: 8px;
  margin: 5px;
}

.blog-articles .user-blog .blog-img {
  position: relative;
  width: 300px;
  height: 200px;
  margin: .5rem;
}

.blog-articles .user-blog .blog-img img {
  width: 95%;
  height: 95%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogpost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.blogpost h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  padding: 1rem;
  margin: 1.5rem;
}

.blogpost img {
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.blogpost #line {
  width: 100%;
  margin: 10px auto;
  height: 2px;
  background: #000;
}

.blogpost .tag-line {
  width: 100%;
  margin-top: 40px;
  height: 2px;
  background: #000;
}

.blogpost .tag-line i {
  font-size: 30px;
}

.blog-content {
  width: 60%;
  margin: 30px auto;
  padding: 5px;
}

.blog-content .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.blog-content .user-details .user-profile {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  padding: 5px;
}

.blog-content .user-details .user-profile .user-info h3 {
  padding: 5px;
}

.blog-content .user-details .user-profile .user-info span {
  color: #666666;
  font-weight: lighter;
  font-size: 14px;
}

.blog-content .user-details .social-links a i {
  font-size: 30px;
  padding: 4px;
  color: #000;
}

.blog-para p {
  padding: 2rem;
}

.blog-para .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.like-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.like-btn {
  width: 350px;
  height: 50px;
  font-size: 25px;
  padding: 4px;
  border: 1px solid #666666;
  outline: none;
  background: #fff;
  color: #000;
}

.like-btn i {
  padding: 5px;
  font-size: 22px;
  margin-right: 5px;
  margin-top: 2px;
}

.project-comments textarea {
  height: 100px;
  margin: 10px;
}

.project-comments .tags {
  text-align: left;
}

.blog-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-tags .blogtag-list {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
}

.blog-tags .blogtag-list .user-blog h3 {
  padding: 8px;
  margin: 5px;
  color: #000;
  text-decoration: none;
}

.blog-tags .blogtag-list .user-blog .blog-img {
  position: relative;
  width: 300px;
  height: 200px;
  margin: .5rem;
}

.blog-tags .blogtag-list .user-blog .blog-img img {
  width: 95%;
  height: 95%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* BlogComments */
/* TAGS */
.tags p, span {
  display: inline-block;
}

.blogby-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tags-image {
  width: 200px;
  height: 200px;
}
/*# sourceMappingURL=Blog.css.map */