@import '../sass/Global.scss';

footer{
    width: 100%;
    background: $myBlack;
    color: $myWhite;
    font-family: $myFont;
    marquee{
        padding: 1.5rem;
        h4{
            font-weight: bolder;
        }
        span{
            font-weight: lighter;
        }
    }
    .footer-end{
        display: flex;
        flex-direction: column;
        width: 55%;
        margin: 0 auto;
        padding: 1.5rem;
        font-family: $myFont;
        p{
            margin-top: 20px;
        }
        .social-links {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            width: 35%;
            margin: 0 auto;
            a{
            color: $myWhite;
             margin: 15px;
            }
        }
       #footer-date{
         display: flex;
         width: 500px;
         margin: 18px auto;
         font-weight: lighter;
         font-size: 1em;
       }
    }
}



/*===================== Media Queries============================= */
@media only screen and (max-width: 1100px) {

    .footer-end{
        width: 100% !important;
        h1{
            text-align: left !important;
        }
        p{
            width: 100% !important;
            text-align: left;
        }
        .social-links{
            text-align: left;
            margin: 0 !important;
        }
    }
   
    #footer-date{
        width: 100% !important;
        text-align: left !important;
        flex-direction: column;
    }

}